-- ============================================================
-- 00_admin / 001_roles_and_grants.sql
-- Bootstrap sécurité + environnements DEV/PROD
-- Idempotent (relançable)
-- Exécuter avec un rôle admin (ACCOUNTADMIN)
-- ============================================================

USE ROLE ACCOUNTADMIN;

-- 1) ROLES
CREATE ROLE IF NOT EXISTS DEV_ROLE;
CREATE ROLE IF NOT EXISTS PROD_ROLE;

-- Optionnel : donner DEV_ROLE à ton user (à adapter si besoin)
-- (Ton user existe déjà si tu te connectes avec tdiallo)
GRANT ROLE DEV_ROLE TO USER tdiallo;
GRANT ROLE PROD_ROLE TO USER tdiallo;

-- 2) WAREHOUSES
CREATE WAREHOUSE IF NOT EXISTS DEV_WH
  WAREHOUSE_SIZE = 'XSMALL'
  AUTO_SUSPEND = 60
  AUTO_RESUME = TRUE
  INITIALLY_SUSPENDED = TRUE;

CREATE WAREHOUSE IF NOT EXISTS PROD_WH
  WAREHOUSE_SIZE = 'XSMALL'
  AUTO_SUSPEND = 60
  AUTO_RESUME = TRUE
  INITIALLY_SUSPENDED = TRUE;

GRANT USAGE, OPERATE ON WAREHOUSE DEV_WH TO ROLE DEV_ROLE;
GRANT USAGE, OPERATE ON WAREHOUSE PROD_WH TO ROLE PROD_ROLE;

-- 3) DATABASES
CREATE DATABASE IF NOT EXISTS DB_POLLUTION_DEV;
CREATE DATABASE IF NOT EXISTS DB_POLLUTION;

-- 4) SCHEMAS (layers)
-- DEV
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION_DEV.LANDING;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION_DEV.RAW;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION_DEV.STAGING;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION_DEV.MARTS;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION_DEV.MONITORING;

-- PROD
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION.LANDING;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION.RAW;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION.STAGING;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION.MARTS;
CREATE SCHEMA IF NOT EXISTS DB_POLLUTION.MONITORING;

-- 5) GRANTS (simple et sûr au début)
-- DEV_ROLE full control on DEV db
GRANT EXECUTE TASK ON ACCOUNT TO ROLE DEV_ROLE;
GRANT USAGE ON DATABASE DB_POLLUTION_DEV TO ROLE DEV_ROLE;
GRANT USAGE ON ALL SCHEMAS IN DATABASE DB_POLLUTION_DEV TO ROLE DEV_ROLE;
GRANT USAGE ON FUTURE SCHEMAS IN DATABASE DB_POLLUTION_DEV TO ROLE DEV_ROLE;

GRANT CREATE TABLE, CREATE DYNAMIC TABLE, CREATE VIEW, CREATE STAGE, CREATE TASK, CREATE STREAMLIT, CREATE FILE FORMAT, CREATE FUNCTION, CREATE PROCEDURE
  ON ALL SCHEMAS IN DATABASE DB_POLLUTION_DEV TO ROLE DEV_ROLE;

GRANT CREATE TABLE, CREATE DYNAMIC TABLE, CREATE VIEW, CREATE STAGE, CREATE TASK, CREATE STREAMLIT, CREATE FILE FORMAT, CREATE FUNCTION, CREATE PROCEDURE
  ON FUTURE SCHEMAS IN DATABASE DB_POLLUTION_DEV TO ROLE DEV_ROLE;

-- PROD_ROLE: droits plus stricts (usage + create sur schémas cibles)
GRANT EXECUTE TASK ON ACCOUNT TO ROLE PROD_ROLE;
GRANT USAGE ON DATABASE DB_POLLUTION TO ROLE PROD_ROLE;
GRANT USAGE ON ALL SCHEMAS IN DATABASE DB_POLLUTION TO ROLE PROD_ROLE;
GRANT USAGE ON FUTURE SCHEMAS IN DATABASE DB_POLLUTION TO ROLE PROD_ROLE;

GRANT CREATE TABLE, CREATE DYNAMIC TABLE, CREATE VIEW, CREATE STAGE, CREATE TASK, CREATE STREAMLIT, CREATE FILE FORMAT, CREATE FUNCTION, CREATE PROCEDURE
  ON ALL SCHEMAS IN DATABASE DB_POLLUTION TO ROLE PROD_ROLE;

GRANT CREATE TABLE, CREATE DYNAMIC TABLE, CREATE VIEW, CREATE STAGE, CREATE TASK, CREATE STREAMLIT, CREATE FILE FORMAT, CREATE FUNCTION, CREATE PROCEDURE
  ON FUTURE SCHEMAS IN DATABASE DB_POLLUTION TO ROLE PROD_ROLE;

-- 6) (Optionnel) Permissions de lecture cross-env
-- Par défaut on évite DEV -> PROD et PROD -> DEV.
-- Tu pourras ajouter plus tard si besoin.
