--Lets create one Big Table
USE DATABASE DB_POLLUTION_DEV;
USE SCHEMA MARTS;
USE ROLE DEV_ROLE;

--Lets write a pyhton function that find the prominent pollutant
CREATE OR REPLACE FUNCTION DB_POLLUTION_DEV.MARTS.prominent_index(pm25 NUMBER, pm10 NUMBER, so2 NUMBER, so2 NUMBER, nh3 NUMBER, co NUMBER, o3 NUMBER)
RETURNS STRING
LANGUAGE PYTHON
RUNTIME_VERSION = '3.9'
HANDLER = 'prominent_index'
AS
$$
def prominent_index(pm25, pm10, so2, no2, nh3, co, o3):
    variables = {
        'PM25': pm25 or 0,
        'PM10': pm10 or 0,
        'SO2': so2 or 0,
        'NO2': no2 or 0,
        'NH3': nh3 or 0,
        'CO': co or 0,
        'O3': o3 or 0,
    }
    return max(variables, key=variables.get)
$$
;
GRANT USAGE
ON FUNCTION DB_POLLUTION_DEV.MARTS.prominent_index(
  NUMBER, NUMBER, NUMBER, NUMBER, NUMBER, NUMBER, NUMBER
)
TO ROLE DEV_ROLE;

--Let Create a python function that implement AQI business rule
CREATE OR REPLACE FUNCTION DB_POLLUTION_DEV.MARTS.three_sub_index_criteria(
  pm25 NUMBER, pm10 NUMBER, so2 NUMBER, no2 NUMBER, nh3 NUMBER, co NUMBER, o3 NUMBER
)
RETURNS NUMBER(38,0)
LANGUAGE PYTHON
RUNTIME_VERSION = '3.9'
HANDLER = 'three_sub_index_criteria'
AS
$$
def three_sub_index_criteria(pm25, pm10, so2, no2, nh3, co, o3):
    pm_count = int((pm25 is not None and pm25 > 0) or (pm10 is not None and pm10 > 0))
    non_pm_count = min(2, sum((p is not None and p > 0) for p in (so2, no2, nh3, co, o3)))
    return pm_count + non_pm_count
$$;

GRANT CREATE DYNAMIC TABLE ON SCHEMA DB_POLLUTION_DEV.MARTS TO ROLE DEV_ROLE;

--Lets finally create our on BIG TABLE with Dynamic table
CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_DEV.MARTS.aqi_final_wide_dt
TARGET_LAG = '30 min'
WAREHOUSE = 'DEV_WH'
AS
    SELECT
        index_record_ts,
        YEAR(index_record_ts)   AS year,
        MONTH(index_record_ts)  AS month,
        DAY(index_record_ts)    AS day,
        HOUR(index_record_ts)   AS hour,
        MINUTE(index_record_ts) AS minute,
        SECOND(index_record_ts) AS second,
        country,
        state,
        city,
        station,
        latitude,
        longitude,
        pm25_avg, 
        pm10_avg, 
        so2_avg, 
        no2_avg, 
        nh3_avg, 
        co_avg, 
        ozone_avg,
        PROMINENT_INDEX(pm25_avg, pm10_avg, so2_avg, no2_avg, nh3_avg, co_avg, ozone_avg) AS prominent_index,
        CASE
            WHEN three_sub_index_criteria(pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg) > 2 THEN greatest (pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg)
            ELSE 0
            END
        AS aqi
    FROM DB_POLLUTION_DEV.staging.stg_aqi_flatten_data_avg
;

--Now lets implement 2 dimension tables (date and location) and 1 fact table
CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_DEV.MARTS.dim_date
TARGET_LAG = 'DOWNSTREAM'
WAREHOUSE = 'DEV_WH'
AS
    WITH date_dim_cte AS(
        SELECT 
            index_record_ts AS measurement_time,
            YEAR(index_record_ts)   AS year,
            MONTH(index_record_ts)  AS month,
            DAY(index_record_ts)    AS day,
            HOUR(index_record_ts)   AS hour,
            MINUTE(index_record_ts) AS minute,
            SECOND(index_record_ts) AS second
        FROM DB_POLLUTION_DEV.staging.stg_aqi_flatten_data_avg
        GROUP BY 1,2,3,4,5,6,7
    )
    SELECT 
        HASH(measurement_time) AS date_id,
        *
    FROM date_dim_cte
;

--Let create location dimension
CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_DEV.MARTS.location_dim
TARGET_LAG = 'DOWNSTREAM'
WAREHOUSE = 'DEV_WH'
AS
    WITH location_dim_cte AS(
        SELECT 
            COUNTRY,
            STATE,
            CITY,
            STATION,
            LATITUDE,
            LONGITUDE
        FROM DB_POLLUTION_DEV.staging.stg_aqi_flatten_data_avg
        GROUP BY 1,2,3,4,5,6
    )
    SELECT
        HASH(LATITUDE,LONGITUDE) as location_id,
        *
    FROM location_dim_cte
;

--Now Lets create a fact table to hold our measurement
CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_DEV.MARTS.fact_aqi
TARGET_LAG = 'DOWNSTREAM'
WAREHOUSE = 'DEV_WH'
AS
    SELECT 
        HASH(index_record_ts, LATITUDE, LONGITUDE) AS aqi_pk,
        HASH(index_record_ts) AS dim_date_fk,
        HASH(LATITUDE,LONGITUDE) AS dim_location_fk,
        PM25_AVG,
        PM10_AVG,
        CO_AVG,
        NO2_AVG,
        NH3_AVG,
        SO2_AVG,
        OZONE_AVG,
        PROMINENT_INDEX(pm25_avg, pm10_avg, so2_avg, so2_avg, nh3_avg, co_avg, ozone_avg) AS prominent_index,
        CASE
            WHEN three_sub_index_criteria(pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg) > 2 THEN greatest (pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg)
            ELSE 0
            END
        AS aqi
    FROM DB_POLLUTION_DEV.staging.stg_aqi_flatten_data_avg
;

--Lets create a fact table aggregate by city in the hourly granularity
CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_DEV.MARTS.fact_aqi_agg_hourly
TARGET_LAG = '30 min'
WAREHOUSE = 'DEV_WH'
AS
WITH fct_aqi_agg_hourly_cte AS(
    SELECT 
        dl.state AS state,
        dl.city AS city,
        dd.measurement_time as measurement_time,
        AVG(faqi.PM25_AVG) as pm25_avg,
        AVG(faqi.PM10_AVG) as pm10_avg,
        AVG(faqi.CO_AVG) as CO_AVG,
        AVG(faqi.NO2_AVG) as NO2_AVG,
        AVG(faqi.SO2_AVG) as SO2_AVG,
        AVG(faqi.NH3_AVG) as NH3_AVG,
        AVG(faqi.OZONE_AVG) as OZONE_AVG,
    FROM DB_POLLUTION_DEV.MARTS.FACT_AQI faqi
    LEFT JOIN DB_POLLUTION_DEV.MARTS.LOCATION_DIM dl
    ON (faqi.dim_location_fk = dl.location_id)
    LEFT JOIN DB_POLLUTION_DEV.MARTS.DIM_DATE dd 
    ON (faqi.dim_date_fk = dd.date_id)
    GROUP BY 1,2,3
    ORDER BY city, measurement_time
    )
    SELECT 
        *,
        PROMINENT_INDEX(pm25_avg, pm10_avg, so2_avg, so2_avg, nh3_avg, co_avg, ozone_avg) AS prominent_index,
        CASE
            WHEN three_sub_index_criteria(pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg) > 2 THEN greatest (pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg)
            ELSE 0
            END
        AS aqi
    FROM fct_aqi_agg_hourly_cte
;

--Lets create a fact table aggregate by city in the daily granularity
CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_DEV.MARTS.fact_aqi_agg_daily
TARGET_LAG = '30 min'
WAREHOUSE = 'DEV_WH'
AS
WITH fct_aqi_agg_daily_cte AS(
SELECT
    state,
    city,
    TO_DATE(measurement_time) as measurement_time,
    AVG(pm25_avg)::NUMBER as pm25_avg,
    AVG(pm10_avg)::NUMBER as pm10_avg,
    AVG(co_avg)::NUMBER as co_avg,
    AVG(no2_avg)::NUMBER as no2_avg,
    AVG(so2_avg)::NUMBER as so2_avg,
    AVG(nh3_avg)::NUMBER as nh3_avg,
    AVG(ozone_avg)::NUMBER as ozone_avg,
FROM fact_aqi_agg_hourly
GROUP BY 1,2,3
ORDER BY 1,2,3
)
SELECT 
    *,
    PROMINENT_INDEX(pm25_avg, pm10_avg, so2_avg, so2_avg, nh3_avg, co_avg, ozone_avg) AS prominent_index,
    CASE
        WHEN three_sub_index_criteria(pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg) > 2 THEN greatest (pm25_avg,pm10_avg,so2_avg,no2_avg,nh3_avg,co_avg,ozone_avg)
        ELSE 0
        END
    AS aqi
FROM fct_aqi_agg_daily_cte;
