USE DATABASE DB_POLLUTION_{{env}};
USE SCHEMA LANDING;
USE ROLE {{env}}_ROLE;

--Let Create a dynamic Table with Downstream target Lag for the air quality stagging table
CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_{{env}}.staging.stg_aqi_data
TARGET_LAG = 'DOWNSTREAM'
WAREHOUSE = '{{env}}_WH'
AS
    WITH air_quality_data_records AS(
        SELECT 
                id,
                index_record_ts,
                payload,
                records_count,
                json_version,
                _stg_file_name,
                _stg_file_load_ts,
                _stg_file_md5,
                copy_data_ts
        FROM DB_POLLUTION_{{env}}.RAW.RAW_AQI
        QUALIFY ROW_NUMBER() OVER(PARTITION BY index_record_ts ORDER BY COPY_DATA_TS DESC) = 1
        ORDER BY index_record_ts
    )
    SELECT 
        index_record_ts,
        hourly_record.value:country::STRING AS country,
        hourly_record.value:state::STRING AS state,
        hourly_record.value:city::STRING AS city,
        hourly_record.value:station::STRING AS station,
        hourly_record.value:latitude::NUMBER(12,7) AS latitude,
        hourly_record.value:longitude::NUMBER(12,7) AS longitude,
        hourly_record.value:pollutant_id::STRING AS pollutant_id,
        hourly_record.value:pollutant_max::STRING AS pollutant_max,
        hourly_record.value:pollutant_min::STRING AS pollutant_min,
        hourly_record.value:pollutant_avg::STRING AS pollutant_avg,
        _stg_file_name,
        _stg_file_load_ts,
        _stg_file_md5,
        copy_data_ts
    FROM air_quality_data_records,
    LATERAL FLATTEN(INPUT => payload:records) hourly_record
;

CREATE OR REPLACE DYNAMIC TABLE DB_POLLUTION_{{env}}.staging.stg_aqi_flatten_data_avg
TARGET_LAG = 'DOWNSTREAM'
WAREHOUSE = '{{env}}_WH'
AS
WITH aqi_cleaned_flatened AS(
    SELECT 
        index_record_ts,
        country,
        state,
        city,
        station,
        latitude,
        longitude,
        --pollutant_avg,
        MAX(CASE WHEN POLLUTANT_ID = 'PM2.5' THEN POLLUTANT_AVG END) AS "PM25_AVG",
        MAX(CASE WHEN POLLUTANT_ID = 'PM10' THEN POLLUTANT_AVG END) AS "PM10_AVG",
        MAX(CASE WHEN POLLUTANT_ID = 'CO' THEN POLLUTANT_AVG END) AS "CO_AVG",
        MAX(CASE WHEN POLLUTANT_ID = 'NO2' THEN POLLUTANT_AVG END) AS "NO2_AVG",
        MAX(CASE WHEN POLLUTANT_ID = 'NH3' THEN POLLUTANT_AVG END) AS "NH3_AVG",
        MAX(CASE WHEN POLLUTANT_ID = 'SO2' THEN POLLUTANT_AVG END) AS "SO2_AVG",
        MAX(CASE WHEN POLLUTANT_ID = 'OZONE' THEN POLLUTANT_AVG END) AS "OZONE_AVG",
    FROM DB_POLLUTION_{{env}}.staging.stg_aqi_data
    GROUP BY 1,2,3,4,5,6,7
)
    SELECT
        index_record_ts,
        country,
        state,
        city,
        station,
        latitude,
        longitude,

        CASE WHEN PM25_AVG = 'NA' THEN 0 ELSE ROUND(PM25_AVG, 1) END AS PM25_AVG,
        CASE WHEN PM10_AVG = 'NA' THEN 0 ELSE ROUND(PM10_AVG, 1) END AS PM10_AVG,
        CASE WHEN CO_AVG = 'NA'THEN 0 ELSE ROUND(CO_AVG, 1) END AS CO_AVG,
        CASE WHEN NO2_AVG = 'NA' THEN 0 ELSE ROUND(NO2_AVG, 1) END AS NO2_AVG,
        CASE WHEN NH3_AVG = 'NA' THEN 0 ELSE ROUND(NH3_AVG, 1) END AS NH3_AVG,
        CASE WHEN SO2_AVG = 'NA' THEN 0 ELSE ROUND(SO2_AVG, 1) END AS SO2_AVG,
        CASE WHEN OZONE_AVG= 'NA' THEN 0 ELSE ROUND(OZONE_AVG, 1) END AS OZONE_AVG
    FROM aqi_cleaned_flatened
;