USE DATABASE DB_POLLUTION_DEV;
USE SCHEMA LANDING;
USE ROLE DEV_ROLE;

--Creating table to load raw data
CREATE OR REPLACE TRANSIENT TABLE DB_POLLUTION_DEV.RAW.raw_aqi(
    id NUMBER PRIMARY KEY AUTOINCREMENT,
    index_record_ts TIMESTAMP,
    payload VARIANT,
    records_count NUMBER,
    json_version STRING,
    _stg_file_name STRING,
    _stg_file_load_ts STRING,
    _stg_file_md5 STRING,
    copy_data_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP()
);

--Create Task to load raw air quality data
--Create Task to load raw air quality data
CREATE OR REPLACE TASK DB_POLLUTION_DEV.RAW.load_air_quality_data
WAREHOUSE = 'DEV_WH'
SCHEDULE = 'USING CRON 0 * * * * Asia/Kolkata'
AS
    COPY INTO DB_POLLUTION_DEV.RAW.raw_aqi(
        index_record_ts,
        payload,
        records_count,
        json_version,
        _stg_file_name,
        _stg_file_load_ts,
        _stg_file_md5
    )
    FROM 
        (
            SELECT 
            TRY_TO_TIMESTAMP($1:records[0]:last_update::STRING, 'dd-mm-yyyy hh24:mi:ss') AS index_record_ts,
            $1 as payload,
            $1:count::NUMBER AS records_count,
            $1:version::STRING AS json_version,
            --metadata
            metadata$filename as _stg_file_name,
            metadata$file_last_modified AS _stg_file_load_ts,
            metadata$file_content_key AS _stg_file_md5
    FROM @DB_POLLUTION_DEV.LANDING.AIR_QUALITY_POLLUTION_DATA_STAGE_JSON
        )
    FILE_FORMAT = (FORMAT_NAME = 'DB_POLLUTION_DEV.LANDING.json_ff')
    ON_ERROR = ABORT_STATEMENT;

    -- Resume TAsk
    ALTER TASK DB_POLLUTION_DEV.RAW.load_air_quality_data RESUME;